{% load static %}
{% load bootstrap4 %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static '/analyzing.css' %}">

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='slim' %}
</head>
<body>
    <h1>Results Companies</h1>
    {% for key, value in Companies.items %}
        <h3>{{ key }}</h3>
        {% if value|length > 0 %}
            {% for rule, results in value.items %}
                <b>{{ rule }}: </b>{{ results }}<br>
            {% endfor %}<br>
        {% else %}
            <b>Keine Regeln vorhanden!</b><br><br>
        {% endif %}
    {% endfor %}
    <br>
    <br>
    <h1>Results Services</h1>
    {% for key, value in Services.items %}
        <h3>{{ key }}</h3>
        {% if value|length > 0 %}
            {% for rule, results in value.items %}
                <b>{{ rule }}: </b>{{ results }}<br><br>
            {% endfor %}
        {% else %}
            <b>Keine Regeln vorhanden!</b><br><br>
        {% endif %}
    {% endfor %}
    <br>
    <br>
    <h1>Companies Result Interpretation</h1>
    {% for category, rules in Companies.items %}
        {% for rule, companies in rules.items %}
            {% for company, result in companies.items %}
                {% with Interpretation|get_keyvalue:category|get_keyvalue:rule as interpret %}
                {% if not interpret == None %}
                    {% if companies|length > 1 %}
                        {% ifchanged rule %}
                            {% if forloop.parentloop.parentloop.counter0 > 0 %}
                                <br><br>
                            {% endif %}
                        {% endifchanged %}
                    {% endif %}

                    <h3>{{ interpret|get_keyvalue:'name' }} - {{ company }}</h3>
                    <b>Beschreibung:</b> {{ interpret|get_keyvalue:'description' }}<br>
                    <b>Ergebnis:</b> {{ result }}<br>
                    <b>Erklärung:</b>
                    {% with interpret|get_keyvalue:'values' as values %}
                    {% for value,result_text in values.items %}
                        {% if interpret|get_keyvalue:'type' == 'boolean' %}
                            {% ifequal result|stringformat:'s' value|stringformat:'s' %}
                                {{ result_text }}
                            {% endifequal %}
                        {% endif %}

                        {% if interpret|get_keyvalue:'type' == 'number' %}
                            {% ifchanged result|is_smaller_equal:value %}
                                {% if forloop.first %}
                                    {% if result|is_smaller_equal:value %}
                                        {{ result_text }}
                                    {% endif %}
                                {% else %}
                                    {{ result_text }}
                                {% endif %}
                            {% endifchanged %}
                        {% endif %}

                        {% if interpret|get_keyvalue:'type' == 'tuple' %}
                            {% if forloop.first %}
                                {% if result|length != 0 %}
                                    {{ result_text }}
                                {% endif %}
                            {% endif %}
                            {% if result|length == 0 %}
                                {% ifequal result|stringformat:'s' value|stringformat:'s' %}
                                    {{ result_text }}
                                {% endifequal %}
                            {% endif %}
                            {% for tuple in result %}
                                {% ifequal tuple.1|stringformat:'s' value|stringformat:'s' %}
                                    {{ tuple.0 }} ({{ result_text }}),
                                {% endifequal %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    {% endwith %}
                    <br><br>
                {% endif %}
                {% endwith %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
</body>
</html>