{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static '/index.css' %}">

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='slim' %}

    <script>
        function addUrl() {
            var parent = document.getElementById("add-url");
            var urlSize = parent.getElementsByClassName("form-row").length;

            if (urlSize <= 4) {
                document.getElementById("add-url").innerHTML +=
                    '<div class="form-row" style="height: 80px;"><input type="url" class="input-form" placeholder="URL eingeben"></div>'

                if (urlSize === 4) {
                    document.getElementById("add-button").remove();
                }
            }
        }
    </script>
</head>
<body>
    <div class="main-container d-flex align-items-center">
        <div class="col">
            <div class="row start-text">
                <div class="container">
                    <h1>Fancy Überschrift</h1>
                    <p align="justify">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                        dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="row start-form">
                <div class="container">
                    <form class="form-box">
                        <div id="add-url">
                            <div class="form-row" style="height: 80px;">
                                <input type="url" class="input-form" placeholder="URL eingeben">
                            </div>
                        </div>
                        <div class="d-flex justify-content-center form-row-half">
                            <div id="add-button" class="d-flex justify-content-center align-items-center form-add-button" onclick="addUrl()">
                                +
                            </div>
                        </div>
                        <div class="form-row" style="height: 150px;">
                            <input type="url" class="input-form" placeholder="PDF hochladen">
                        </div>
                        <div class="form-row justify-content-center">
                            <a href="{% url "home:analyze" %}?cos=&comps=&docs="><button type="submit" class="btn btn-primary">Analyse starten</button></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>