html, body {
    height: 100%;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #00A5AE !important;
    padding: 10px 30px !important;
}

.main-container {
    height: 100%;
}

.start-text {
    margin-bottom: 30px;
}

.start-form {
    background-color: #070637;
}

.input-form {
    width: 100%;
}

.form-row {
    padding-top: 38px;
}

.form-row-half {
    padding-top: 19px;
}

.form-box {
    padding-top: 12px;
    padding-bottom: 50px;
}

.form-add-button {
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
}

.form-add-button:hover {
    cursor: pointer;
}